<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>murzynek</title>
</head>
<body>
    <form action="/orderMeal" method="post">
        <input type="text" name="dish" id="dish">
        <input type="number" name="count" id="count">
        <input type="text" name="client_address" id="client_address">
        <input type="text" name="client_name" id="client_name">
        <input type="date" name="date" id="date">
        <input type="submit" value="Zamów">
    </form>
</body>
</html>